<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Menu Item</title>
</head>
<body>
    <h1>Create a new menu item</h1>
    <form method="post" action="" enctype='multipart/form-data'>
        <table style="width:50%">
            <tr>
                <td>Name: </td>
                <td><input type="text" name="menu_name" value=""></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td><input type="text" name="menu_description" value=""></td>
            </tr>
            <tr>
                <td>Price: </td>
                <td><input type="text" name="menu_price" value=""></td>
            </tr>
            <tr>
                <td>Course: </td>
                <td><input type="text" name="menu_course" value=""></td>
            </tr>
        </table>
        <input type="hidden" name="restaurant_id" value="{{ restaurant_id }}">
        <input type='submit' value='Create'>
    </form>
    <a href="{{ url_for('restaurant_menu',restaurant_id=restaurant_id) }}">Cancel</a>

</body>
</html>